html,body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

#app {
  display: block;
  width: 100%;
  height: 100%;
}

.todo {
  display: block;
  width: 575px;
  height: auto;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);

  &__input {
    display: block !important;
    width: 95% !important;
    margin: 0 auto !important;
  }
}

.infobar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px 0px 15px;

  &__chips {
    margin-right: 5px !important;

    &:last-child {
      margin-right:  0px !important;
    }
  }
}
